In [8]:
### Q1. Create a python program to sort the given list of tuples based on integer value using a
### lambda function.

In [7]:
t1 =[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print("Original order ",t1)

Original order  [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [9]:
t1.sort(key = lambda x :x[1])
print("Sorted list of t1: ",t1)

Sorted list of t1:  [('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [ ]:
### Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
### lambda and map functions.

In [22]:
l1 = [1,2,3,4,5,6,7,8,9]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
t1= (1,2,3,4,5,6,7,8,9)
print(t1)
square_num = list(map(lambda x: x**2, l1))
print(square_num)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

In [ ]:
## [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
## Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
## Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [15]:
nums_list = [1,2,3,4,5,6,7,8,9,10]
print("Original list are :")
print(nums_list)
result_tuple = tuple(map(str,nums_list))
print("\nTuple of strings:")
print(result_tuple)

Original list are :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple of strings:
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [13]:
##Q4. Write a python program using reduce function to compute the product of a list containing numbers
## from 1 to 25.

In [17]:
list1= range(1,26)
import functools
x = functools.reduce(lambda a, b : a*b, list1)
print(x)

15511210043330985984000000

In [ ]:
15511210043330985984000000

In [ ]:
## Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
## filter function.
## [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [2]:
nums = [2,3,6,9,27,60,90,120,55,46]
divisible_nums = list(filter(lambda x: (x % 2 == 0  and x % 3 == 0), nums))
print(divisible_nums)

[6, 60, 90, 120]

In [5]:
## Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
## function.
## ['python', 'php', 'aba', 'radar', 'level']

In [7]:
str1 = ['python', 'php', 'aba', 'radar', 'level']
palin = list(filter(lambda x: (x == "".join(reversed(x))), str1))
print("List of palindromes: ")
print(palin)

List of palindromes:
['php', 'aba', 'radar', 'level']