### Q1. What are the characteristics of the tuples? 
###       Tuple items are ordered, unchangeable, and allow duplicate values. Tuple items are indexed, the first item has ###         index [0] , the second item has index [1] etc.
### Is tuple immutable?
### Yes, tuples items are immutable, i.e., its items can't be changed or edit.

### Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
### Tuples have only two in-built methods as compared to Lists.
### ->> Tuples have only two inbuilt methods compared to the list because tuples are immutable and lists are mutable. 
###        The following are the two method in tuples:-
###         1.count()	Returns the number of times a specified value occurs in a tuple
###         2.index()	Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
### Q3.Which collection data type in python don't allow duplicate value items 
###   ->> Set data type and dictionary's key value duplication is not allowed in python

### Q3. Write a code using a set to remove duplicates from the given list.

In [ ]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

updated_list = set(List)

In [ ]:
### Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.
###  -->> union()	Return a set containing the union of sets
###    e.g. 
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

In [ ]:
###  -->> update()	Update the set with the union of this set and others
###       e.g.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

In [ ]:
### Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.
### -->> Dictionaries are used to store data values in key:value pairs.
###      A dictionary is a collection which is ordered, changeable and do not allow duplicates. E.g.
my_data = {
  "name": "Anjali",
  "course": "Data Science",
  "joining": "28th jan'23"
}

In [ ]:
### Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

courses = {
  "student1" : {
    "name" : "Emil",
    "course_name" : "Data science"
  },
  "student2" : {
    "name" : "Sohil",
    "course_name" : "web dev"
  },
  "student3" : {
    "name" : "Linus",
    "course_name" : "java dev"
  }
}

In [ ]:
print(courses["student2"]["name"])

### Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learning’, 'Deep Learning']

In [ ]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("course","['Python', 'Machine Learning’, 'Deep Learning']")

### Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view         objects for the given dictionary.
### dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [ ]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [ ]:
# First view of dict1 
 print(dict1)

In [ ]:
# Second view of dict1

values = dict1.values()
print("Values of the dictionary are:",values)

In [ ]:
# Third view of dictionary

k = dict1.keys()
print(k)